* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  border: none;
  list-style: none;
}

:root {
  --primary-color: #3a3a3a;
  --secondary-color: #0a0826;
  --ternary-color: #3a3a3a9c;
  --color-four: #fff;
  --btn-bg-color: #e02c6d;
  --heading-1: 3.3rem;
  --heading-2: 2.2rem;
  --heading-3: 1.8rem;
  --font-para: 1rem;
  --box-shadow: rgba(153, 153, 153, 0.404);
}

body {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

/* shared styles */
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
/* navbar style start */
.menu {
  display: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 87px 0 72px;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
}

.logo {
  font-size: var(--heading-3);
  color: var(--primary-color);
  text-transform: capitalize;
}
.nav-item a {
  font-size: var(--font-para);
  color: var(--primary-color);
}

/* banner style start */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 133px; */
}
.banner-content {
  max-width: 580px;
  width: 100%;
}
.banner-title {
  font-size: var(--heading-1);
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 16px;
}
.desc {
  font-size: var(--font-para);
  color: var(--primary-color);
  margin-bottom: 16px;
}

.btn-primary {
  font-size: var(--font-para);
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 28px;
  background-color: var(--btn-bg-color);
  color: var(--color-four);
}

.banner-img {
  background: url("../images/Circle\ design.svg") no-repeat center / cover;
}
.banner-img img {
  width: 100%;
}

/* section sponsors */

.sponsors {
  padding: 100px 0;
}
.sponsor-items {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 60px;
  padding: 30px 90px;
  text-align: center;
  justify-items: center;
  align-items: center;
}
/* section collection */
.collection {
  padding: 0px 70px;
  text-align: center;
}

.collection-title {
  font-size: var(--heading-2);
  margin-bottom: 40px;
  color: var(--primary-color);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0px 76px 50px;
  margin: 0 auto;
}

.card {
  padding: 17px 15px;
  border-radius: 10px;
  box-shadow: 0 -2px 30px var(--box-shadow);
  text-align: left;
}
.card-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
}

.card-title {
  font-size: var(--heading-2);
  color: var(--primary-color);
  margin-bottom: 6px;
}
.price {
  font-size: var(--heading-3);
  color: var(--primary-color);
  margin-bottom: 8px;
  font-weight: 500;
}
.rating {
  color: #fca504;
  font-size: var(--font-para);
  padding: 1px 0 8px;
}

.rating span {
  color: var(--primary-color);
}

.card-desc {
  font-size: 0.9rem;
  color: var(--ternary-color);
  max-width: 200px;
  width: 100%;
}

.see-more a {
  display: block;
  color: var(--btn-bg-color);
  margin: 0px 76px;
  text-align: right;
}

/* feature */
.features {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 96px;
}
.feature-img img {
  width: 100%;
  border-radius: 10px;
}

.feature-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.feature-title {
  font-size: var(--heading-2);
  color: var(--primary-color);
}
.feature-desc {
  max-width: 500px;
  width: 100%;
  font-size: var(--font-para);
  color: var(--primary-color);
}
.btn-box .feature-btn {
  font-size: var(--font-para);
  color: var(--color-four);
  background-color: var(--btn-bg-color);
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}
/* mobile responsive */
@media screen and (max-width: 768px) {
  nav {
    padding: 30px 10px 50px;
  }

  .menu {
    display: block;
  }
  .nav-links {
    display: none;
  }
  .show {
    display: block;
  }

  .banner {
    flex-direction: column-reverse;
    gap: 40px;
    text-align: center;
    padding: 0px 35px;
  }
  .banner-title {
    font-size: var(--heading-1);
  }

  .sponsors {
    padding: 50px 0;
  }
  .sponsor-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 30px 30px;
    place-items: center;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0px 30px 20px;
  }
  .see-more a {
    margin: 0 20px;
  }
  .features {
    flex-direction: column-reverse;
    text-align: center;
    padding: 50px 0;
  }
}

/* tablet responsive */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    padding: 50px 20px 80px;
  }
  .nav-item {
    gap: 20px;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 50px;
    text-align: center;
  }

  .sponsors {
    padding: 50px 0;
    text-align: center;
  }
  .sponsor-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px 30px;
    place-items: center;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0px 30px 20px;
  }
  .features {
    flex-direction: column-reverse;
    text-align: center;
    padding: 50px 0;
  }
}
